asttokens
attrs
certifi
cffi
colorama
comm
debugpy
decorator
executing
h11
idna
ipykernel
ipython
jedi
jupyter_client
jupyter_core
matplotlib-inline
nest-asyncio
outcome
packaging
parso
platformdirs
prompt_toolkit
psutil
pure_eval
pycparser
Pygments
PySocks
python-dateutil
pywin32
pyzmq
selenium
six
sniffio
sortedcontainers
stack-data
subprocess.run
tornado
traitlets
trio
trio-websocket
typing_extensions
urllib3
wcwidth
websocket-client
wsproto
